MONGODB_URI=mongodb://BPKZ:CONTRASEÑA@ac-7vabm5s-shard-00-00.4bcssc0.mongodb.net:27017,ac-7vabm5s-shard-00-01.4bcssc0.mongodb.net:27017,ac-7vabm5s-shard-00-02.4bcssc0.mongodb.net:27017/?ssl=true&replicaSet=atlas-neubeg-shard-0&authSource=admin&appName=VETERINARIA
PORT=3000   